* {
  box-sizing: border-box;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 24px;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
}

a {
  
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#categories .item {
    padding: 16px;
    background-color: #F6F6FE;
    min-width: 360px;
}

#categories h2 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item li {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.image {
  height: 300px;
  width: 360px;
}

#name-input {
  color: #2E2F42;
  font-weight: 400;
  line-height: 1.5;
  min-width: 360px;
  padding: 8px 16px 8px;
  border-radius: 4px;
  border: 0.1em solid #808080;

}
h1 {
  color: #2E2F42;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

/*TASK-04*/


.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.login-form input {
  min-width: 360px;
  padding: 8px 16px 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #2E2F42;
  border-radius: 4px;
  border: 0.1em solid #808080;
}

.login-form input:focus {
  outline: transparent;
}

.login-form input::placeholder {
  color: #2E2F42;
  line-height: 1.5;
}

.login-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #2E2F42;
  line-height: 1.5;
  
} 

.login-form label:nth-child(1) {
  margin-top: 16px;
}

.login-form label:nth-child(2) {
  margin-bottom: 16px;
}

.login-form button {
  padding: 8px 16px;
  border-radius: 8px;
  background: #4E75FF;
  border: none;
  color: #FFF;
  font-weight: 500;
  line-height: 1.5;
  
}

/*TASK-05*/

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.widget p {
  margin-top: 16px;
}

.widget .change-color {
  padding: 8px 16px;
  margin-top: 16px;
  border-radius: 8px;
  background: #4E75FF;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
    
}

/*TASK-06*/

#controls {
  display: flex;
  gap: 16px;
  justify-content: center;
  max-width: 60vw;
  padding: 32px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  background-color: #F6F6FE;
}

#boxes {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 60vw;
  padding: 32px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  background-color: #F6F6FE;
}

#controls input {
  padding: 8px 72px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #808080;
  text-align: center;
  outline: transparent;
}

#controls button:nth-child(2) {
  padding: 8px 16px;
  border-radius: 8px;
  background: #4E75FF;
  border: none;
  color: #FFF;
  font-weight: 500;
      
}

#controls button:nth-child(3) {
  padding: 8px 16px;
  border-radius: 8px;
  background: #FF4E4E;
  border: none;
  color: #FFF;
  font-weight: 500;
 
}
